## Conexiones

In [5]:
import sqlalchemy as db
from getpass import getpass
import pandas as pd

In [6]:
password = getpass("Mysql Password: ")

Mysql Password: ········

In [7]:
dbName = "publications"
connectionData = f"mysql+pymysql://root:{password}@localhost/{dbName}"

In [8]:
engine = db.create_engine(connectionData)
print("Connected to server!")

Connected to server!

## Challenge 1

In [7]:
#YO
pd.read_sql_query("""
SELECT titleauthor.au_id, titleauthor.title_id, titleauthor.royaltyper, 
titles.price * sales.qty * titles.royalty / 100 * titleauthor.royaltyper / 100 as sales_royalty
	FROM titleauthor
    
    INNER JOIN publications.titles
    ON titleauthor.title_id = titles.title_id
    INNER JOIN publications.sales
    ON sales.title_id = titleauthor.title_id
""",engine)

          au_id title_id  royaltyper  sales_royalty
0   213-46-8915   BU1032          40          3.998
1   409-56-7008   BU1032          60          5.997
2   899-46-2035   PS2091          50          1.971
3   998-72-3567   PS2091          50          1.971
4   427-17-2319   PC8888          50         50.000
5   846-92-7186   PC8888          50         50.000
6   899-46-2035   PS2091          50         49.275
7   998-72-3567   PS2091          50         49.275
8   899-46-2035   PS2091          50          6.570
9   998-72-3567   PS2091          50          6.570
10  807-91-6654   TC3218         100         83.800
11  648-92-1872   TC4203         100         33.460
12  267-41-2394   TC7777          30          8.994
13  472-27-2349   TC7777          30          8.994
14  672-71-3249   TC7777          40         11.992
15  899-46-2035   PS2091          50         13.140
16  998-72-3567   PS2091          50         13.140
17  722-51-5454   MC3021          75         13.455
18  899-46-2035   MC3021          25          4.485
19  724-80-9391   PS1372          25         10.795
20  756-30-7391   PS1372          75         32.385
21  998-72-3567   PS2106         100         17.500
22  172-32-1176   PS3333         100         29.985
23  486-29-1786   PS7777         100         19.975
24  274-80-9391   BU7832         100         29.985
25  712-45-1867   MC2222         100         23.988
26  213-46-8915   BU2075         100         25.116
27  722-51-5454   MC3021          75          8.073
28  899-46-2035   MC3021          25          2.691
29  213-46-8915   BU1032          40          7.996
30  409-56-7008   BU1032          60         11.994
31  267-41-2394   BU1111          40         11.950
32  724-80-9391   BU1111          60         17.925
33  238-95-7766   PC1035         100        110.160

In [8]:
#DAV
pd.read_sql_query(
"""
  
   SELECT 
    authors.au_id AS 'AUTHOR ID',
    authors.au_fname AS 'FIRST NAME',
    authors.au_lname AS 'LAST NAME',
    SUM(sales.qty*titles.price*titleauthor.royaltyper/100*titles.royalty / 100) as 'PROFIT'

FROM authors
    INNER JOIN titleauthor ON authors.au_id=titleauthor.au_id
    INNER JOIN titles ON titles.title_id=titleauthor.title_id
    INNER JOIN sales on titleauthor.title_id=sales.title_id
        
GROUP BY authors.au_id, authors.au_id
ORDER BY PROFIT DESC

""",engine)

      AUTHOR ID FIRST NAME       LAST NAME   PROFIT
0   238-95-7766     Cheryl          Carson  110.160
1   998-72-3567     Albert          Ringer   88.456
2   807-91-6654     Sylvia        Panteley   83.800
3   899-46-2035       Anne          Ringer   78.132
4   427-17-2319        Ann            Dull   50.000
5   846-92-7186     Sheryl          Hunter   50.000
6   213-46-8915   Marjorie           Green   37.110
7   648-92-1872   Reginald  Blotchet-Halls   33.460
8   756-30-7391      Livia          Karsen   32.385
9   172-32-1176    Johnson           White   29.985
10  274-80-9391       Dean        Straight   29.985
11  724-80-9391    Stearns      MacFeather   28.720
12  712-45-1867      Innes    del Castillo   23.988
13  722-51-5454     Michel        DeFrance   21.528
14  267-41-2394    Michael         O'Leary   20.944
15  486-29-1786   Charlene        Locksley   19.975
16  409-56-7008    Abraham          Bennet   17.991
17  672-71-3249      Akiko        Yokomoto   11.992
18  472-27-2349       Burt      Gringlesby    8.994

## Challenge 2

In [ ]:
#YO

In [ ]:
#DAV

In [16]:
df = pd.read_sql_query("SELECT AuthorID, sum(Royalty)+t.advance as PROFIT FROM SELECT TitleID, AuthorID, sum(Royalty) as Royalty2 FROM SELECT t.title_id as TitleID,ta.au_id as AuthorID,concat(round(t.price * s.qty * t.royalty / 100 * ta.royaltyper / 100,2)) as Royalty FROM titleauthor as ta INNER JOIN titles as t ON t.title_id=ta.title_id INNER JOIN sales as s ON t.title_id=s.title_id as calc GROUP BY TitleID,AuthorID ORDER BY Royalty DESC as royal INNER JOIN titles as t TitleID=t.title_id, GROUP BY AuthorID ORDER BY PROFIT DESC LIMIT 3;",engine)
df

ProgrammingError: (pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'SELECT TitleID, AuthorID, sum(Royalty) as Royalty2 FROM SELECT t.title_id as Tit' at line 1")
[SQL: SELECT AuthorID, sum(Royalty)+t.advance as PROFIT FROM SELECT TitleID, AuthorID, sum(Royalty) as Royalty2 FROM SELECT t.title_id as TitleID,ta.au_id as AuthorID,concat(round(t.price * s.qty * t.royalty / 100 * ta.royaltyper / 100,2)) as Royalty FROM titleauthor as ta INNER JOIN titles as t ON t.title_id=ta.title_id INNER JOIN sales as s ON t.title_id=s.title_id as calc GROUP BY TitleID,AuthorID ORDER BY Royalty DESC as royal INNER JOIN titles as t TitleID=t.title_id, GROUP BY AuthorID ORDER BY PROFIT DESC LIMIT 3;]
(Background on this error at: http://sqlalche.me/e/f405)

In [18]:
df = pd.read_sql_query("""
CREATE temporary TABLE FirstTable
(Select authors.au_id,
titles.title_id, 
(titles.price * sales.qty * titles.royalty / 100 * titleauthor.royaltyper / 100) AS sales_royalty 
from titles
LEFT JOIN titleauthor ON titleauthor.title_id = titles.title_id 
LEFT JOIN authors ON authors.au_id = titleauthor.au_id
LEFT JOIN sales ON sales.title_id = titles.title_id);

Create temporary table SecondTable(Select title_id Title_ID, au_id Author_ID, SUM(Sales_royalty) 
FROM FirstTable group by au_id, title_id);


Select Author_ID, titles.advance, titles.royalty 
FROM SecondTable
LEFT JOIN titles
 ON titles.title_id = SecondTable.title_id 
 group by Author_ID, advance, royalty;
""", engine)

ProgrammingError: (pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Create temporary table SecondTable(Select title_id Title_ID, au_id Author_ID, SU' at line 10")
[SQL:
CREATE temporary TABLE FirstTable
(Select authors.au_id,
titles.title_id,
(titles.price * sales.qty * titles.royalty / 100 * titleauthor.royaltyper / 100) AS sales_royalty
from titles
LEFT JOIN titleauthor ON titleauthor.title_id = titles.title_id
LEFT JOIN authors ON authors.au_id = titleauthor.au_id
LEFT JOIN sales ON sales.title_id = titles.title_id);

Create temporary table SecondTable(Select title_id Title_ID, au_id Author_ID, SUM(Sales_royalty)
FROM FirstTable group by au_id, title_id);


Select Author_ID, titles.advance, titles.royalty
FROM SecondTable
LEFT JOIN titles
 ON titles.title_id = SecondTable.title_id
 group by Author_ID, advance, royalty;
]
(Background on this error at: http://sqlalche.me/e/f405)